openai
PySimpleGUI==4.60.4
sentence-transformers
tqdm==4.64.1
pytz
timezonefinder
torchvision==0.14.0
pytorch==1.13.0
scikit-learn==1.1.3
numpy
dataclasses
requests
geopy
tzwhere
pandas
sqlite==3.40.0
parsedatetime
matplotlib
urllib3
elasticsearch-dsl
pyqt5-sip
pyqtwebengine
spotipy
flask
gensim
geopy
python-wget==3.2
conda-tree==1.0.5