<!-- 1 -->
<link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">

<link title="timeline-styles" rel="stylesheet" 
      href="https://cdn.knightlab.com/libs/timeline3/latest/css/timeline.css">

<!-- 2 -->
<script src="https://cdn.knightlab.com/libs/timeline3/latest/js/timeline.js"></script>
<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">


<div class="topnav">
  <div class="search-container">
    <button type="submit" onclick="search_timeline(document.getElementById('search').value)" id="search_btn"><i class="fa fa-search"></i></button>
    <input type="text" placeholder="Search.." id="search">
    <button type="submit" onclick="next_result(-1)" id="prev_result_btn"> <i class="fa fa-arrow-circle-left"></i> Go to previous result </button>
    <button type="submit" onclick="next_result(1)" id="next_result_btn">Go to next result <i class="fa fa-arrow-circle-right"></i></button>
  </div>
</div>

<div id="SearchResultContainer">
  <!-- <button class="tablinks" onclick="openCity(event, 'London')">London</button>
  <button class="tablinks" onclick="openCity(event, 'Paris')">Paris</button>
  <button class="tablinks" onclick="openCity(event, 'Tokyo')">Tokyo</button> -->
</div>

<div id='timeline-embed' style="width: 100%; height: 1000px"></div>

<!-- 3 -->
<script type="text/javascript">
    var input = document.getElementById("search");
    var search_result = [];
    var search_result_ptr = 0;

    input.addEventListener("keyup", function(event) {
        if (event.keyCode === 13) {
            event.preventDefault();
            document.getElementById("search_btn").click();
        }
    });

    function add_research_result_slide(event) {
      idx = event.target.result_id;
      search_result_ptr = idx;
      if (timeline.getDataById(search_result.slides[search_result_ptr].unique_id) == null)
        timeline.add(search_result.slides[search_result_ptr]);
      timeline.goToId(search_result.slides[search_result_ptr].unique_id);
    }

    function search_timeline(query) {
      if (query != "") {
        $.getJSON('http://127.0.0.1:5000/qa', {"search": query}, function(timeline_obj) {
            // go to first slide
            search_result = timeline_obj;
            container = document.getElementById("SearchResultContainer");
            container.innerHTML = "";

            if (search_result.slides.length > 1 || 
                !(query.includes('-') || query.includes('/') || !isNaN(query))) {
              content_str = "<div class='row'>";
              for (var i = 0; i < search_result.slides.length; i++) {
                bid = "search_result_btn_" + i.toString();
                if (search_result.slides[i].img_path == null) {
                  // non-image
                  text = search_result.slides[i].text.headline;
                  content_str += "<button class='result_btn default' id='" + bid + "')'>" + text + "</button>";
                } else {
                  text = search_result.slides[i].name
                  img_path = search_result.slides[i].img_path
                  content_str += "<div class='column'><div class='result_img_content'>"
                  content_str += "<img class='rect-img' src='" + img_path + "' style='width:100%'>"
                  content_str += "<button class='overlay' id='" + bid + "')'>" + text + "</button>";
                  content_str += "</div></div>"
                }
              }
              content_str += "</div><br>";
              container.innerHTML += content_str
              for (var i = 0; i < search_result.slides.length; i++) {
                bid = "search_result_btn_" + i.toString();
                document.getElementById(bid).result_id = i;
                addEventListener("click", add_research_result_slide, false);
              }
            }

            // go to first slide
            search_result_ptr = -1;
            next_result(1);
          }
        );
      }
    }

    function next_result(delta) {
      if (search_result.slides.length > 0) {
        console.log("here");
        search_result_ptr += delta;
        if (search_result_ptr >= search_result.slides.length) {
          search_result_ptr = 0;
        }
        if (search_result_ptr < 0) {
          search_result_ptr = search_result.slides.length - 1;
        }
        // render the slide
        if (timeline.getDataById(search_result.slides[search_result_ptr].unique_id) == null)
          timeline.add(search_result.slides[search_result_ptr]);

        // go to the slide
        timeline.goToId(search_result.slides[search_result_ptr].unique_id);
      }
    }

    // The TL.Timeline constructor takes at least two arguments:
    // the id of the Timeline container (no '#'), and
    // the URL to your JSON data file or Google spreadsheet.
    // the id must refer to an element "above" this code,
    // and the element must have CSS styling to give it width and height
    // optionally, a third argument with configuration options can be passed.
    // See below for more about options.
    var timeline = null;
    var obj = null
    var options = {timenav_position: "top", duration: 500, timenav_height_percentage: 40,
      track_events: ['back_to_start', 'zoom_in', 'zoom_out'],
      zoom_sequence: [0.5, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]
    };
    // var zoom_level_mp = {"hour": 10, "day": 9, "week": 8, "trip": 8, "month": 4, "year": 2};

    // function get_zoom_level(unique_id) {
    //   var tag = unique_id.split('_')[0];
    //   return zoom_level_mp[tag];
    // }

    // jQuery.ajaxSetup({async:false});
    function render_timeline(obj) {
      timeline = new TL.Timeline('timeline-embed', obj, options);
      var previous_id = null;
      timeline.on("change", function(data) {
        console.log(data.unique_id)

        if (Math.abs(timeline._getEventIndex(data.unique_id) - 
                     timeline._getEventIndex(previous_id)) == 1)
          return;

        // // auto-zoom
        // var zoom_level = get_zoom_level(data.unique_id);
        // timeline.setZoom(zoom_level);
        // previous_id = data.unique_id;

        $.getJSON('http://127.0.0.1:5000/timeline', {"unique_id": data.unique_id}, function(timeline_obj) {
          // update timeline with new objects
          for (var i = 0; i < timeline_obj.slides.length; i++) {
            if (timeline.getDataById(timeline_obj.slides[i].unique_id) == null)
              timeline.add(timeline_obj.slides[i]);
          }});
        
      });
      
      level_mp = {"hour": 0, "day": 1, "week": 2, "trip": 2, "month": 3, "year": 4};

      // timeline.goToNext = null;
      timeline._onStorySliderNext = function(data) {
        timeline.goToPrev();
        var current_id = timeline.current_id;
        var current_tag = current_id.split('_')[0];
        var current_level = level_mp[current_tag];
        var same_level = [];
        var target_idx = 0;
        for (var i = 0; ; i++) {
          event = timeline.getData(i);
          if (event == null) break;
          tag = event.unique_id.split('_')[0];
          level = level_mp[tag];
          // console.log(level);
          if (level == current_level) {
            if (event.unique_id == current_id) {
              target_idx = same_level.length + 1;
            }
            same_level.push(event.unique_id);
          }
        }
        // console.log(same_or_upper);
        // console.log(same_or_upper[target_idx]);
        if (target_idx < same_level.length)
          timeline.goToId(same_level[target_idx]);
        else
          timeline.goToPrev();
      };

      timeline._onStorySliderPrevious = function(data) {
        timeline.goToNext();
        var current_id = timeline.getCurrentSlide().data.unique_id;
        var current_tag = current_id.split('_')[0];
        var current_level = level_mp[current_tag];
        var same_level = [];
        var target_idx = 0;
        for (var i = 0; ; i++) {
          event = timeline.getData(i);
          if (event == null) break;
          tag = event.unique_id.split('_')[0];
          level = level_mp[tag];
          // console.log(level);
          if (level == current_level) {
            if (event.unique_id == current_id) {
              target_idx = same_level.length - 1;
            }
            same_level.push(event.unique_id);
          }
        }
        // console.log(same_or_upper);
        // console.log(same_or_upper[target_idx]);
        if (target_idx >= 0)
          timeline.goToId(same_level[target_idx]);
        else
          timeline.goToNext();
      }
    }


    $.getJSON('http://127.0.0.1:5000/init', function(timeline_obj) {
        obj = timeline_obj;
        render_timeline(obj);
    });

    
</script>


