openai==0.28.1
PySimpleGUI==4.60.4
sentence-transformers
tqdm==4.64.1
pytz
timezonefinder
torchvision==0.14.1
torch==1.13.1
scikit-learn==1.1.3
numpy
dataclasses
requests
geopy
tzwhere
pandas
parsedatetime
matplotlib
urllib3
elasticsearch-dsl
spotipy
flask
gensim
geopy
wget==3.2
pillow_heif
pysqlite3
plotly
transformers
faiss-cpu
hydra-core==1.3.2
langchain==0.1.11
sqlparse
flask-cors
git+https://github.com/openai/CLIP.git
tiktoken
